@CHARSET "UTF-8";
.full-width{
	height: 100%
}
body{
	height:100vh
}
#body{
	height:calc(100% - 132px)
}
.full-height{
	height: 100%
}
#floating_alert {
    position: absolute;
    top: 51px;
    left: 0px;
    z-index: 5000;
    height: calc(100% - 112px);
}